<div class="server-list">
  <app-servers-list-item
    tooltipText="{{ 'server-list.home-tooltip' | translate }}">
  </app-servers-list-item>
  <hr class="separator">
  <app-servers-list-item
    tooltipText="{{ 'server-list.add-server-tooltip' | translate }}">
    <i class="pi pi-plus icon"></i>
  </app-servers-list-item>
  <app-servers-list-item
    tooltipText="{{ 'server-list.explore-public-servers-tooltip' | translate }}">
    <i class="pi pi-compass icon"></i>
  </app-servers-list-item>
  <hr class="separator">
  <app-servers-list-item
    tooltipText="{{ 'shared.currently-unavailable' | translate }}">
    <i class="pi pi-download icon"></i>
  </app-servers-list-item>
</div>
