<div class="server-list">
  <app-servers-list-item
    tooltipText="Home">
  </app-servers-list-item>
  <hr class="separator">
  <app-servers-list-item
    tooltipText="Add a Server">
    <i class="pi pi-plus icon"></i>
  </app-servers-list-item>
  <app-servers-list-item
    tooltipText="Explore Public Servers">
    <i class="pi pi-compass icon"></i>
  </app-servers-list-item>
  <hr class="separator">
  <app-servers-list-item
    tooltipText="Currently Unavailable">
    <i class="pi pi-download icon"></i>
  </app-servers-list-item>
</div>
