// Colors
$base-color-dark: #202225
$base-color-medium: #2f3136
$base-color-light: #36393f
$base-icon-color: #3ba55d
$base-small-icon-color: #b9bbbe
$user-profile-icon-background-color: #757e8a
$server-hover-color: #5865f2

// transitions
$base-transition-time: 0.2s

// font sizes
$base-tooltip-font-size: 0.9rem
