@import "src/utilities/global-variables"

$user-profile-icon-size: 32px
$user-profile-icon-status-size: 12px
$inner-icon-size: 9px

.user-profile-icon
  align-items: center
  background-color: $user-profile-icon-background-color
  border-radius: 50%
  display: flex
  height: $user-profile-icon-size
  justify-content: center
  position: relative
  width: $user-profile-icon-size
.user-profile-icon:hover
  cursor: pointer

.inner-icon
  font-size: $inner-icon-size

.user-profile-icon-status
  align-items: center
  background: $base-color-dark
  border-radius: 50%
  bottom: -1px
  display: flex
  height: $user-profile-icon-status-size
  justify-content: center
  position: absolute
  right: -1px
  width: $user-profile-icon-status-size
