@import "src/utilities/global-variables"

$item-size: 45px

.item
  align-items: center
  background-color: $base-color-light
  border-radius: 50%
  display: flex
  height: $item-size
  justify-content: center
  margin: 15px 0 0
  transition: $base-transition-time ease-in-out
  width: $item-size
.item:hover
  background-color: $base-icon-color
  border-radius: 35%
  cursor: pointer

.server
  @extend .item
.server:hover
  background-color: $server-hover-color

