<div class="user-panel w-100">
  <div class="user-info">
    <p-menu #menu [popup]="true" [model]="this.menuItems"></p-menu>
    <app-user-profile-icon-shell (click)="menu.toggle($event)"></app-user-profile-icon-shell>
    <div class="user-name-container">
      {{ this.userName }}
    </div>
  </div>
  <div class="buttons">
    <button
      class="button"
      type="button"
      (click)="this.micButtonClick()"
      pTooltip="{{ 'user-panel.mute-microphone' | translate }}"
      tooltipPosition="top">
        <img class="image" [src]="this.getMicIconUrl()" alt="mic-toggle">
    </button>
    <button
      class="button"
      type="button"
      (click)="this.soundButtonClick()"
      pTooltip="{{ 'user-panel.mute-sound' | translate }}"
      tooltipPosition="top">
        <img class="image" [src]="this.getSoundIconUrl()" alt="headset-toggle">
    </button>
    <button
      class="button"
      type="button"
      pTooltip="{{ 'user-panel.user-settings' | translate }}"
      tooltipPosition="top">
        <i class="pi pi-cog button-icon"></i>
    </button>
  </div>
</div>
