<div class="user-panel w-100">
  <div></div>
  <div class="buttons">
    <button class="button" type="button" (click)="this.micButtonClick()" pTooltip="Mute Microphone" tooltipPosition="top">
      <img class="image" [src]="this.getMicIconUrl()" alt="mic-toggle">
    </button>
    <button class="button" type="button" (click)="this.soundButtonClick()" pTooltip="Mute Sound" tooltipPosition="top">
      <img class="image" [src]="this.getSoundIconUrl()" alt="headset-toggle">
    </button>
    <button class="button" type="button" pTooltip="User Settings" tooltipPosition="top">
      <i class="pi pi-cog button-icon"></i>
    </button>
  </div>
</div>
